@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kalam:wght@700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: white;
  }

  .form-control{
    width: 350px;
  }
  